body
{
	min-height: 100vh;
	--brown_color : #e2bc8d;
	--purple_color: #6d1a29;
	margin: 0px;
	background-color: var(--brown_color);
}

header
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav
{
	display: flex;
	justify-content: center;
}

.logo
{
	width: 100px;
}

.menu-buttons
{
	padding: 0.8em;
	border-radius: 0.5em;
}