body
{
	min-height: 100vh;
	--brown_color : #e2bc8d;
	--purple_color: #6d1a29;
	margin: 0px;
	background-color: var(--brown_color);
}

nav
{
	display: flex;
	justify-content: center;
}

.menu-buttons
{
	padding: 0.8em;
	border-radius: 0.5em;
}